[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
whitenoise = "==5.2.0"
asgiref = "==3.4.1"
certifi = "==2021.5.30"
chardet = "==4.0.0"
idna = "==2.10"
pytz = "==2021.1"
requests = "==2.25.1"
sqlparse = "==0.4.1"
urllib3 = "==1.26.6"
Django = "==3.2.5"

[dev-packages]

[requires]
python_version = "3.9"
